@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Signika Negative', sans-serif;
    background-image: url(./water.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
    font-family: 'Signika Negative', sans-serif;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 3vw;
    font-size: 1.5rem;
    background-color: #15ffdf;
}

button:hover {
    opacity: 0.7;
}

.container, .buttons {

  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw;
  gap: 7vw;
}

.buttons {
    gap: 30.5vw;
}

.header {
    display: grid;
    height: 20vh;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.7vw;
}

.message {
    font-size: max(1.5vw, 15px);
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.footer {
    text-align: center;
}

.gameBoard,
.gameBoard2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 35vw;
  aspect-ratio: 1/1;
  border-top: 0.1px solid  #15ffdf;
  border-left: 0.1px solid  #15ffdf;
}

.square {
  border-right: 0.1px solid  #15ffdf;
  border-bottom: 0.1px solid  #15ffdf;
}

.gameBoard2 .square:hover {
   border: 2px red solid;
   border-radius: 5px;
}

.missed {
  background-color: #95ffdc;
}

.container .hit {
  background-color: #ff5050;
}

.carrier {
  background-image: url(./aircraft-carrier.png);
}

.battleship {
  background-image: url(./battleship.png);
}

.destroyer {
  background-image: url(./cruise.png);
}

.submarine {
  background-image: url(./submarine.png);
}

.patrolBoat {
  background-image: url(./maritime-rescue.png);
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrolBoat {
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.previewCarrier,
.previewpatrolBoat,
.previewBattleship,
.previewDestroyer,
.previewSubmarine
 {
  background-color: rgba(0, 144, 211, 0.5);
  border: none;
  background-size: 3vw;
  background-position: left;
}

.previewCarrierV,
.previewpatrolBoatV,
.previewBattleshipV,
.previewDestroyerV,
.previewSubmarineV{
    background-color: rgba(0, 144, 211, 0.5);
    border: none;
    background-size: 3vw;
    background-position: top;
}

.previewCarrier {
  width: 500%;
}

.previewBattleship {
  width: 400%;
}

.previewDestroyer {
  width: 300%;
}

.previewSubmarine {
  width: 300%;
}

.previewpatrolBoat {
  width: 200%;
}

.previewCarrierV {
  height: 500%;
}

.previewBattleshipV {
  height: 400%;
}

.previewDestroyerV {
  height: 300%;
}

.previewSubmarineV {
  height: 300%;
}

.previewpatrolBoatV {
  height: 200%;
}
