.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 35vw;
  aspect-ratio: 1/1;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
}

.square {
  border-right: 0.1px solid black;
  border-bottom: 0.1px solid black;
}

.missed {
    background-color: aquamarine;
}

.container .hit {
    background-color: red;
}

.carrier, .battleship, .submarine, .destroyer, .patrolBoat {
    background-color: blue;
}